@model IEnumerable<JoaoAfonso.Domain.Entities.Animacao_trabalhos>


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-gray m-lg-3 py-3">
        <div class="card custom-white-card">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-3">Trabalhos Animação</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body border-bottom p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Animacao" asp-action="Create" class="btn btn-outline-white">
                    <i class="bi bi-plus-square-fill"></i> Criar nova entrada de Animação
                </a>
            </div>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>SoftwareUsado</th>
                    <th>Duracao</th>
                    <th>UrlImagem</th>
                    <th>TamanhoFicheiro</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Nome</td>
                        <td>@obj.Descricao</td>
                        <td>@obj.SoftwareUsado</td>
                        <td>@obj.Duracao</td>
                        <td>@obj.UrlImagem</td>
                        <td>@obj.TamanhoFicheiro</td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>


